CREATE DATABASE [DellStorev1]
GO
USE [DellStorev1]
GO
/****** Object:  Table [dbo].[chi_tiet_dot_giam_gia]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_dot_giam_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dot_giam_gia_id] [int] NULL,
	[ctsp_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_hoa_don]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoa_don_id] [int] NOT NULL,
	[chi_tiet_san_pham_id] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[don_gia] [decimal](18, 2) NOT NULL,
	[giam_gia] [decimal](18, 2) NULL,
	[chi_tiet_dot_giam_gia_id] [int] NULL,
	[thanh_tien]  AS ([don_gia]*[so_luong]-[giam_gia]),
	[trang_thai] [int] NULL,
	[hinh_thuc_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_hoa_don_serial]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hoa_don_serial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chi_tiet_hoa_don_id] [int] NOT NULL,
	[serial_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_san_pham]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[san_pham_id] [int] NOT NULL,
	[cpu_id] [int] NULL,
	[ram_id] [int] NULL,
	[ssd_id] [int] NULL,
	[gpu_id] [int] NULL,
	[gia_ban] [decimal](18, 2) NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_thanh_toan]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoa_don_id] [int] NULL,
	[hinh_thuc_thanh_toan_id] [int] NULL,
	[so_tien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cpu]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cpu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[toc_do] [nvarchar](50) NULL,
	[loai] [nvarchar](50) NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dot_giam_gia]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dot_giam_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[ten_km] [nvarchar](50) NULL,
	[ma_km] [nvarchar](50) NULL,
	[loai_giam] [nvarchar](50) NULL,
	[giam_gia] [decimal](10, 2) NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gpu]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gpu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[loai] [nvarchar](50) NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hang]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hinh_thuc_thanh_toan]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinh_thuc_thanh_toan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma] [varchar](50) NULL,
	[nhan_vien_id] [int] NULL,
	[khach_hang_id] [int] NULL,
	[ngay_tao] [date] NULL,
	[tong_tien] [decimal](18, 2) NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[gioi_tinh] [bit] NULL,
	[dia_chi] [varchar](100) NULL,
	[sdt] [varchar](15) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_san_pham]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nv] [varchar](20) NULL,
	[ten_nv] [nvarchar](100) NULL,
	[gioi_tinh] [bit] NULL,
	[ngay_sinh] [date] NULL,
	[dia_chi] [nvarchar](255) NULL,
	[sdt] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[trang_thai] [int] NULL,
	[chuc_vu] [nvarchar](50) NULL,
	[tai_khoan] [varchar](50) NULL,
	[mat_khau] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ram]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ram](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[dung_luong] [nvarchar](50) NULL,
	[loai] [nvarchar](50) NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[ma_sp] [varchar](20) NULL,
	[mo_ta] [nvarchar](255) NULL,
	[loai_san_pham_id] [int] NULL,
	[hang_id] [int] NULL,
	[trang_thai] [int] NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serial]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_serial] [varchar](50) NOT NULL,
	[ctsp_id] [int] NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serial_da_ban]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serial_da_ban](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serial_id] [int] NULL,
	[hoa_don_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ssd]    Script Date: 8/16/2025 12:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ssd](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[dung_luong] [nvarchar](50) NULL,
	[loai] [nvarchar](50) NULL,
	[trang_thai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_dot_giam_gia] ON 

INSERT [dbo].[chi_tiet_dot_giam_gia] ([id], [dot_giam_gia_id], [ctsp_id]) VALUES (154, 21, 201)
INSERT [dbo].[chi_tiet_dot_giam_gia] ([id], [dot_giam_gia_id], [ctsp_id]) VALUES (155, 20, 211)
INSERT [dbo].[chi_tiet_dot_giam_gia] ([id], [dot_giam_gia_id], [ctsp_id]) VALUES (156, 19, 209)
SET IDENTITY_INSERT [dbo].[chi_tiet_dot_giam_gia] OFF
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_hoa_don] ON 

INSERT [dbo].[chi_tiet_hoa_don] ([id], [hoa_don_id], [chi_tiet_san_pham_id], [so_luong], [don_gia], [giam_gia], [chi_tiet_dot_giam_gia_id], [trang_thai], [hinh_thuc_id]) VALUES (304, 1196, 204, 1, CAST(27800000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, 0, 11)
INSERT [dbo].[chi_tiet_hoa_don] ([id], [hoa_don_id], [chi_tiet_san_pham_id], [so_luong], [don_gia], [giam_gia], [chi_tiet_dot_giam_gia_id], [trang_thai], [hinh_thuc_id]) VALUES (305, 1206, 208, 1, CAST(28000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, 0, 11)
INSERT [dbo].[chi_tiet_hoa_don] ([id], [hoa_don_id], [chi_tiet_san_pham_id], [so_luong], [don_gia], [giam_gia], [chi_tiet_dot_giam_gia_id], [trang_thai], [hinh_thuc_id]) VALUES (306, 1205, 205, 1, CAST(23400000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, 0, 11)
SET IDENTITY_INSERT [dbo].[chi_tiet_hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[chi_tiet_san_pham] ON 

INSERT [dbo].[chi_tiet_san_pham] ([id], [san_pham_id], [cpu_id], [ram_id], [ssd_id], [gpu_id], [gia_ban], [trang_thai]) VALUES (1, 1, 1, 1, 1, 1, CAST(10000000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[chi_tiet_san_pham] ([id], [san_pham_id], [cpu_id], [ram_id], [ssd_id], [gpu_id], [gia_ban], [trang_thai]) VALUES (2, 1, 2, 2, 2, 2, CAST(12000000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[chi_tiet_san_pham] ([id], [san_pham_id], [cpu_id], [ram_id], [ssd_id], [gpu_id], [gia_ban], [trang_thai]) VALUES (3, 1, 3, 3, 3, 3, CAST(14500000.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[chi_tiet_san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[cpu] ON 

INSERT [dbo].[cpu] ([id], [ten], [toc_do], [loai], [trang_thai]) VALUES (1, N'Intel Core i5', N'3.0 GHz', N'DeskTop', 0)
INSERT [dbo].[cpu] ([id], [ten], [toc_do], [loai], [trang_thai]) VALUES (2, N'Intel Core i7', N'3.5 GHz', N'DeskTop', 0)
INSERT [dbo].[cpu] ([id], [ten], [toc_do], [loai], [trang_thai]) VALUES (3, N'Intel Core i9', N'4.0 GHz', N'DeskTop', 0)
SET IDENTITY_INSERT [dbo].[cpu] OFF
GO
SET IDENTITY_INSERT [dbo].[dot_giam_gia] ON 

INSERT [dbo].[dot_giam_gia] ([id], [ngay_bat_dau], [ngay_ket_thuc], [ten_km], [ma_km], [loai_giam], [giam_gia], [trang_thai]) VALUES (15, CAST(N'2025-08-11' AS Date), CAST(N'2025-08-12' AS Date), N'sale tháng 8', N'KM001', N'Tiền', CAST(8000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[dot_giam_gia] ([id], [ngay_bat_dau], [ngay_ket_thuc], [ten_km], [ma_km], [loai_giam], [giam_gia], [trang_thai]) VALUES (16, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-09' AS Date), N'sale tháng 9', N'KM016', N'%', CAST(7.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[dot_giam_gia] ([id], [ngay_bat_dau], [ngay_ket_thuc], [ten_km], [ma_km], [loai_giam], [giam_gia], [trang_thai]) VALUES (17, CAST(N'2025-08-12' AS Date), CAST(N'2025-08-31' AS Date), N'tajsga', N'KM017', N'Tiền', CAST(4000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[dot_giam_gia] OFF
GO
SET IDENTITY_INSERT [dbo].[gpu] ON 

INSERT [dbo].[gpu] ([id], [ten], [loai], [trang_thai]) VALUES (1, N'GPU NVIDIA GeForce RTX 3060', N'NVIDIA', 1)
INSERT [dbo].[gpu] ([id], [ten], [loai], [trang_thai]) VALUES (2, N'GPU AMD Radeon RX 6700 XT', N'AMD', 1)
INSERT [dbo].[gpu] ([id], [ten], [loai], [trang_thai]) VALUES (3, N'GPU NVIDIA GeForce GTX 1650', N'NVIDIA', 1)
SET IDENTITY_INSERT [dbo].[gpu] OFF
GO
SET IDENTITY_INSERT [dbo].[hang] ON 

INSERT [dbo].[hang] ([id], [ten]) VALUES (1, N'Dell')
SET IDENTITY_INSERT [dbo].[hang] OFF
GO
SET IDENTITY_INSERT [dbo].[hinh_thuc_thanh_toan] ON 

INSERT [dbo].[hinh_thuc_thanh_toan] ([id], [ten]) VALUES (11, N'Tiền mặt')
INSERT [dbo].[hinh_thuc_thanh_toan] ([id], [ten]) VALUES (12, N'Chuyển khoản')
INSERT [dbo].[hinh_thuc_thanh_toan] ([id], [ten]) VALUES (13, N'Cả hai')
SET IDENTITY_INSERT [dbo].[hinh_thuc_thanh_toan] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([id], [ma], [nhan_vien_id], [khach_hang_id], [ngay_tao], [tong_tien], [trang_thai]) VALUES (1196, N'HD0001', 1064, 14, CAST(N'2025-08-15' AS Date), CAST(27800000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[hoa_don] ([id], [ma], [nhan_vien_id], [khach_hang_id], [ngay_tao], [tong_tien], [trang_thai]) VALUES (1197, N'HD1197', 1064, 14, CAST(N'2025-08-15' AS Date), CAST(29000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[hoa_don] ([id], [ma], [nhan_vien_id], [khach_hang_id], [ngay_tao], [tong_tien], [trang_thai]) VALUES (1198, N'HD1198', 1064, 14, CAST(N'2025-08-15' AS Date), CAST(23900000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([id], [ten], [gioi_tinh], [dia_chi], [sdt], [email]) VALUES (14, N'Khách lẻ', 1, N'Hà N?i', N'0364782724', N'1@gmail.com')
INSERT [dbo].[khach_hang] ([id], [ten], [gioi_tinh], [dia_chi], [sdt], [email]) VALUES (15, N'Đỗ Chí Công', 0, N'Hà N?i', N'0963852741', N'docong878@gmail.com')
INSERT [dbo].[khach_hang] ([id], [ten], [gioi_tinh], [dia_chi], [sdt], [email]) VALUES (17, N'Minh Chun', 1, N'Hà n?i', N'0963852741', N'docong989@gmail.com')
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[loai_san_pham] ON 

INSERT [dbo].[loai_san_pham] ([id], [ten]) VALUES (11, N'Dell XPS')
INSERT [dbo].[loai_san_pham] ([id], [ten]) VALUES (12, N'Dell Latitude')
INSERT [dbo].[loai_san_pham] ([id], [ten]) VALUES (13, N'Dell Inspiron')
SET IDENTITY_INSERT [dbo].[loai_san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[nhan_vien] ON 

INSERT [dbo].[nhan_vien] ([id], [ma_nv], [ten_nv], [gioi_tinh], [ngay_sinh], [dia_chi], [sdt], [email], [trang_thai], [chuc_vu], [tai_khoan], [mat_khau]) VALUES (1064, N'NV01', N'Đỗ Chí Công', 1, CAST(N'2000-12-12' AS Date), N'hà Nội', N'0963852741', N'docon989@gmail.com', 1, N'Quản lý', N'2', N'2')
INSERT [dbo].[nhan_vien] ([id], [ma_nv], [ten_nv], [gioi_tinh], [ngay_sinh], [dia_chi], [sdt], [email], [trang_thai], [chuc_vu], [tai_khoan], [mat_khau]) VALUES (1065, N'NV02', N'minh đức', 1, CAST(N'2000-12-12' AS Date), N'hà Nội', N'0741852963', N'themangakfc89@gmail.com', 1, N'Quản lý', N'ducmNV02', N'SJpMRVZT')
INSERT [dbo].[nhan_vien] ([id], [ma_nv], [ten_nv], [gioi_tinh], [ngay_sinh], [dia_chi], [sdt], [email], [trang_thai], [chuc_vu], [tai_khoan], [mat_khau]) VALUES (1066, N'NV03', N'minh tuấn', 1, CAST(N'2000-12-12' AS Date), N'hà Nội', N'0852963741', N'Gauzyn3@gmail.com', 1, N'Quản lý', N'tuanmNV03', N'6Ar95y61')
SET IDENTITY_INSERT [dbo].[nhan_vien] OFF
GO
SET IDENTITY_INSERT [dbo].[ram] ON 

INSERT [dbo].[ram] ([id], [ten], [dung_luong], [loai], [trang_thai]) VALUES (1, N'GSKill', N'4GB', N'DDR4', 1)
INSERT [dbo].[ram] ([id], [ten], [dung_luong], [loai], [trang_thai]) VALUES (2, N'Samsung', N'8GB', N'DDR4', 1)
INSERT [dbo].[ram] ([id], [ten], [dung_luong], [loai], [trang_thai]) VALUES (3, N'ADM', N'16GB', N'DDR4', 1)
SET IDENTITY_INSERT [dbo].[ram] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [ten], [ma_sp], [mo_ta], [loai_san_pham_id], [hang_id], [trang_thai], [so_luong]) VALUES (1, N'Dell XPS 13', N'XPS13', N'Máy tính xách tay Dell XPS', 11, 1, 1, 10)
INSERT [dbo].[san_pham] ([id], [ten], [ma_sp], [mo_ta], [loai_san_pham_id], [hang_id], [trang_thai], [so_luong]) VALUES (2, N'Dell Latitude 7420', N'LAT7420', N'Máy tính xách tay Dell Latitude', 12, 1, 1, 8)
INSERT [dbo].[san_pham] ([id], [ten], [ma_sp], [mo_ta], [loai_san_pham_id], [hang_id], [trang_thai], [so_luong]) VALUES (3, N'Dell Inspiron 15', N'INS15', N'Máy tính xách tay Dell Inspiron', 13, 1, 1, 5)
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[serial] ON 

INSERT [dbo].[serial] ([id], [ma_serial], [ctsp_id], [trang_thai]) VALUES (243, N'PC4J7M8N1X9Z', 401, 0)
INSERT [dbo].[serial] ([id], [ma_serial], [ctsp_id], [trang_thai]) VALUES (244, N'R9K2V6Y3T1Q5', 402, 0)
INSERT [dbo].[serial] ([id], [ma_serial], [ctsp_id], [trang_thai]) VALUES (245, N'M2X8C4B1Z9L6', 403, 0)
SET IDENTITY_INSERT [dbo].[serial] OFF
GO
SET IDENTITY_INSERT [dbo].[ssd] ON 

INSERT [dbo].[ssd] ([id], [ten], [dung_luong], [loai], [trang_thai]) VALUES (1, N'SSD 256GB', N'256GB', N'NVMe', 0)
INSERT [dbo].[ssd] ([id], [ten], [dung_luong], [loai], [trang_thai]) VALUES (2, N'SSD 512GB', N'512GB', N'NVMe', 0)
INSERT [dbo].[ssd] ([id], [ten], [dung_luong], [loai], [trang_thai]) VALUES (3, N'SSD 1TB', N'1TB', N'NVMe', 0)
SET IDENTITY_INSERT [dbo].[ssd] OFF
GO
/****** Object:  Index [UQ_ctsp_km]    Script Date: 8/16/2025 12:11:46 AM ******/
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] ADD  CONSTRAINT [UQ_ctsp_km] UNIQUE NONCLUSTERED 
(
	[ctsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__serial__6179C45FC27E2CE5]    Script Date: 8/16/2025 12:11:46 AM ******/
ALTER TABLE [dbo].[serial] ADD UNIQUE NONCLUSTERED 
(
	[ma_serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__serial__E32E5E1BDABE1038]    Script Date: 8/16/2025 12:11:46 AM ******/
ALTER TABLE [dbo].[serial] ADD UNIQUE NONCLUSTERED 
(
	[ctsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] ADD  DEFAULT ((0)) FOR [giam_gia]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD FOREIGN KEY([dot_giam_gia_id])
REFERENCES [dbo].[dot_giam_gia] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD FOREIGN KEY([dot_giam_gia_id])
REFERENCES [dbo].[dot_giam_gia] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD  CONSTRAINT [FK_CTDGG_CTSP] FOREIGN KEY([ctsp_id])
REFERENCES [dbo].[chi_tiet_san_pham] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] CHECK CONSTRAINT [FK_CTDGG_CTSP]
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia]  WITH CHECK ADD  CONSTRAINT [FK_CTDGG_DGG] FOREIGN KEY([dot_giam_gia_id])
REFERENCES [dbo].[dot_giam_gia] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_dot_giam_gia] CHECK CONSTRAINT [FK_CTDGG_DGG]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HinhThucThanhToan] FOREIGN KEY([hinh_thuc_id])
REFERENCES [dbo].[hinh_thuc_thanh_toan] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK_ChiTietHoaDon_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_CTSP] FOREIGN KEY([chi_tiet_san_pham_id])
REFERENCES [dbo].[chi_tiet_san_pham] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK_CTHD_CTSP]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don_serial]  WITH CHECK ADD FOREIGN KEY([chi_tiet_hoa_don_id])
REFERENCES [dbo].[chi_tiet_hoa_don] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don_serial]  WITH CHECK ADD FOREIGN KEY([serial_id])
REFERENCES [dbo].[serial] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD FOREIGN KEY([cpu_id])
REFERENCES [dbo].[cpu] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD FOREIGN KEY([gpu_id])
REFERENCES [dbo].[gpu] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD FOREIGN KEY([ram_id])
REFERENCES [dbo].[ram] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD FOREIGN KEY([san_pham_id])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_san_pham]  WITH CHECK ADD FOREIGN KEY([ssd_id])
REFERENCES [dbo].[ssd] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_thanh_toan]  WITH CHECK ADD FOREIGN KEY([hinh_thuc_thanh_toan_id])
REFERENCES [dbo].[hinh_thuc_thanh_toan] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_thanh_toan]  WITH CHECK ADD FOREIGN KEY([hinh_thuc_thanh_toan_id])
REFERENCES [dbo].[hinh_thuc_thanh_toan] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_thanh_toan]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_thanh_toan]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD FOREIGN KEY([hang_id])
REFERENCES [dbo].[hang] ([id])
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD FOREIGN KEY([hang_id])
REFERENCES [dbo].[hang] ([id])
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD FOREIGN KEY([loai_san_pham_id])
REFERENCES [dbo].[loai_san_pham] ([id])
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD FOREIGN KEY([loai_san_pham_id])
REFERENCES [dbo].[loai_san_pham] ([id])
GO
ALTER TABLE [dbo].[serial]  WITH CHECK ADD FOREIGN KEY([ctsp_id])
REFERENCES [dbo].[chi_tiet_san_pham] ([id])
GO
ALTER TABLE [dbo].[serial]  WITH CHECK ADD  CONSTRAINT [FK_Serial_CTSP] FOREIGN KEY([ctsp_id])
REFERENCES [dbo].[chi_tiet_san_pham] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[serial] CHECK CONSTRAINT [FK_Serial_CTSP]
GO
ALTER TABLE [dbo].[serial_da_ban]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[serial_da_ban]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
GO
USE [master]
GO
